<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NotLoggedInCheck</filter-name>
        <filter-class>filter.NotLoggedInCheck</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedInCheck</filter-name>
        <filter-class>filter.LoggedInCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedInCheck</filter-name>
        <servlet-name>signin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedInCheck</filter-name>
        <servlet-name>signup</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>updatepet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>myfeedback</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>sendFeedback</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>bookingdetail</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>cancelbooking</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>mybooking</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>book</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>petchoose</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>profile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>deletepet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>togglepet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>logout</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NotLoggedInCheck</filter-name>
        <servlet-name>addpet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>controller.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controller.signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpet</servlet-name>
        <servlet-class>controller.addpet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotel</servlet-name>
        <servlet-class>controller.hotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servicebooking</servlet-name>
        <servlet-class>controller.servicebooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>train</servlet-name>
        <servlet-class>controller.train</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainBooking</servlet-name>
        <servlet-class>controller.trainBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelBooking</servlet-name>
        <servlet-class>controller.hotelBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controller.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>togglepet</servlet-name>
        <servlet-class>controller.togglepet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletepet</servlet-name>
        <servlet-class>controller.deletepet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petchoose</servlet-name>
        <servlet-class>controller.petchoose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managecustomer</servlet-name>
        <servlet-class>controller.managecustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toggleuser</servlet-name>
        <servlet-class>controller.toggleuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cattialong</servlet-name>
        <servlet-class>controller.cattialong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageservice</servlet-name>
        <servlet-class>controller.manageservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toggleservice</servlet-name>
        <servlet-class>controller.toggleservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addservice</servlet-name>
        <servlet-class>controller.addservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petdetail</servlet-name>
        <servlet-class>controller.petdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editservice</servlet-name>
        <servlet-class>controller.editservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>samedayservice</servlet-name>
        <servlet-class>controller.samedayservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicalconsultation</servlet-name>
        <servlet-class>controller.medicalconsultation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>treatment</servlet-name>
        <servlet-class>controller.treatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>spa</servlet-name>
        <servlet-class>controller.spa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>controller.book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mybooking</servlet-name>
        <servlet-class>controller.mybooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelbooking</servlet-name>
        <servlet-class>controller.cancelbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managebooking</servlet-name>
        <servlet-class>controller.managebooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingdetail</servlet-name>
        <servlet-class>controller.bookingdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proceedbooking</servlet-name>
        <servlet-class>controller.proceedbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendFeedback</servlet-name>
        <servlet-class>controller.sendFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myfeedback</servlet-name>
        <servlet-class>controller.myfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managefeedback</servlet-name>
        <servlet-class>controller.managefeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendReply</servlet-name>
        <servlet-class>controller.sendReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepet</servlet-name>
        <servlet-class>controller.updatepet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpet</servlet-name>
        <url-pattern>/addpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotel</servlet-name>
        <url-pattern>/hotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servicebooking</servlet-name>
        <url-pattern>/servicebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>train</servlet-name>
        <url-pattern>/train</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainBooking</servlet-name>
        <url-pattern>/trainBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelBooking</servlet-name>
        <url-pattern>/hotelBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>togglepet</servlet-name>
        <url-pattern>/togglepet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletepet</servlet-name>
        <url-pattern>/deletepet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petchoose</servlet-name>
        <url-pattern>/petchoose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managecustomer</servlet-name>
        <url-pattern>/managecustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toggleuser</servlet-name>
        <url-pattern>/toggleuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cattialong</servlet-name>
        <url-pattern>/cattialong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageservice</servlet-name>
        <url-pattern>/manageservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toggleservice</servlet-name>
        <url-pattern>/toggleservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addservice</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petdetail</servlet-name>
        <url-pattern>/petdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editservice</servlet-name>
        <url-pattern>/editservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>samedayservice</servlet-name>
        <url-pattern>/samedayservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicalconsultation</servlet-name>
        <url-pattern>/medicalconsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>treatment</servlet-name>
        <url-pattern>/treatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>spa</servlet-name>
        <url-pattern>/spa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mybooking</servlet-name>
        <url-pattern>/mybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelbooking</servlet-name>
        <url-pattern>/cancelbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managebooking</servlet-name>
        <url-pattern>/managebooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingdetail</servlet-name>
        <url-pattern>/bookingdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proceedbooking</servlet-name>
        <url-pattern>/proceedbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendFeedback</servlet-name>
        <url-pattern>/sendFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myfeedback</servlet-name>
        <url-pattern>/myfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managefeedback</servlet-name>
        <url-pattern>/managefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendReply</servlet-name>
        <url-pattern>/sendReply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepet</servlet-name>
        <url-pattern>/updatepet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
